<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All persons</title>
</head>
<body>
<p th:text="${locale}">VALUE</p>
<hr>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="'Name: ' + ${person.getName() + '; Age: ' + person.getAge()}">user</a>
</div>
<hr>
<a style="color:coral" href="/people/new"> add new Person</a>
<hr>
<a style="color:blue" href="index.jsp"> return</a>
</body>
</html>